.login {
    border: 2px solid gray;
    border-radius: 25px;
    margin-top: 140px;
    margin-left: 34%;
    width: 25%;
    padding: 32px;
    background-color: rgba(255, 255, 255, 0.7);
}

.container-fluid {
    min-height: 100vh;
    background-image: url('/assets/login-background.jpg')!important;
}